@import './css/base.css';
@import './css/containers.css';
@import './css/navigation--interior.css';
@import './css/navigation.css';
@import './css/social-media.css';
@import './css/theme--footer.css';
@import './css/theme--header.css';
@import './css/theme--main.css';

/* DNN & Boostrap Compatibility Overrides */
.dnn_mact li.actionMenuMove ul li {
  height: auto;
}
#ControlBar_ControlPanel:before,
#ControlBar_ControlPanel *:before,
#ControlBar_ControlPanel:after,
#ControlBar_ControlPanel *:after,
#ControlBar_ControlPanel,
#ControlBar_ControlPanel * {
  box-sizing: content-box;
}
.console-large img {
  box-sizing: content-box;
}
.dnnCheckbox .mark {
  background-color: transparent;
}
.dnnEditState .bootstrap-adventure .DnnModule {
  opacity: 1;
}
.bootstrap-adventure .DNNEmptyPane {
  display: none;
}
.bootstrap-adventure .DNNEmptyPane.dnnSortable {
  min-height: 0 !important;
}
.bootstrap-adventure .dnnViewSource textarea,
.bootstrap-adventure .dnnSQLModule textarea,
.bootstrap-adventure .ssStylesheetEditor textarea,
.bootstrap-adventure .dnnAdvancedSettings textarea[name$=PageHeadText] {
  font-family: Consolas, Inconsolata, monospace;
}
.bootstrap-adventure .dnnFormItem input[type="text"],
.bootstrap-adventure .dnnFormItem select,
.bootstrap-adventure .dnnFormItem textarea,
.bootstrap-adventure .dnnFormItem input[type="email"],
.bootstrap-adventure .dnnFormItem input[type="search"],
.bootstrap-adventure .dnnFormItem input[type="password"] {
  padding: 0.5em;
}
.bootstrap-adventure .dnnActions li,
.bootstrap-adventure ul.dnnAdminTabNav li {
  list-style: none;
}
.bootstrap-adventure div.actionMenu ul.dnn_mact > li.actionMenuMove > ul li {
  height: auto;
}

body,
html {
  overflow-x: hidden;
}

