/*----- Base Level Styles -----*/
body {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background-color: rgba(216, 216, 216, 0.25);*/
	background-color: #fff;
	font-size: 17px;
	line-height: 1.5;
	color: #555;
}

p,
.Normal,
.NormalBold,
.NormalDisabled,
.NormalTextBox,
.NormalRed,
.SkinObject {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Serif', serif;
}

a, a:link {
	color: #196180;
}

.svg-icon {
    width: 2em;
    height: 2em;
    fill: #CAAF98;
}


/*----- Media Queries -----*/

/* 1x Small / Small Tablet, Large Phone */
@media (min-width: 400px) {
}

/* Small / Small Tablet */
@media (min-width: 500px) {
}

/* Mid-Size / Average Tablet */
@media (min-width: 700px) {
}

/* Large / Desktop */
@media (min-width: 900px) {
}

/* 1x Large / Widescreen Desktop */
@media (min-width: 1300px) {
}

/* 2x Large / Widescreen Desktop, TV */
@media (min-width: 1700px) {
}

/* Print */
@media print {
}
