/*----- Containers -----*/
.module-container {
	margin-bottom: 5em;
}

.module-container.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Border Title Containers */
.module-container__border .module-container--heading {
	overflow: hidden;
}

.module-container__border .Head {
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
	padding: 0 30px 0 0;
	line-height: 1.2;
	text-transform: uppercase;
	color: #196180;
}

.module-container__border .Head::after {
	background: #5B93AB;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 1920px;
    left: 100%;
}


/* Callout Containers */
.module-container__callout {
	background-color: #eee;
	padding: 2em;
	border-bottom: 4px solid #5B93AB;
}

	.module-container__callout .Head {
		color: #196180;
		
	}
	.module-container__callout.module-container__border .Head::after {
		background: #5B93AB;	
	}

.module-container__alt {
	border-bottom-color: #b3620b; 
}
	.module-container__alt .Head {
		color: #b3620b;	
	}

	.module-container__alt.module-container__border .Head::after {
		background: #b3620b;	
	}


