/*----- Containers -----*/
.module-container {
	margin-bottom: 5em;
}

.module-container.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Border Title Containers */
.module-container__border .module-container--heading {
	overflow: hidden;
}

.module-container__border .Head {
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
	padding: 0 30px 0 0;
	line-height: 1.2;
	text-transform: uppercase;
	color: #196180;
}

.module-container__border .Head::after {
	left: 100%;
    width: 1920px;
	background: #5B93AB;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
}

/* Border Accent Containers */
.module-container__border-accent .module-container--heading {
	margin: 2.5rem 0 1.75rem 0;
	text-align: center;
	letter-spacing: .25px;
	position: relative;
}
.module-container__border-accent .Head {
	padding: 0;
}

.module-container__border-accent .Head::after {
    left: 50%;
    width: 50px;
    content: "";
    display: block;
    position: absolute;
    margin-left: -25px;
    margin-top: 0.25em;
    border-bottom: 6px solid;
    border-bottom-color: #f3756d;
}

/* Callout Containers */
.module-container__callout {
	background-color: #eee;
	padding: 2em;
	border-bottom: 4px solid #5B93AB;
}

	.module-container__callout .Head {
		color: #196180;
	}
	
	.module-container__callout.module-container__border .Head::after {
		background: #5B93AB;	
	}

.module-container__alt {
	border-bottom-color: #f3756d; 
}
	.module-container__alt .Head {
		color: #f3756d;	
	}

	.module-container__alt.module-container__border .Head::after {
		background: #f3756d;	
	}


