/*----- Interior & Breadcrumb Navigation -----*/

/* Breadcrumb */
.breadcrumb {
	background-color: transparent;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;
}

.breadcrumb span span {
	padding: 0 0.25em;
}

.breadcrumb .SkinObject {
	font-family: 'lora', serif;
}

/* Interior Nav */
.interior--nav {
	background-color: #eee;
	padding: 2em;
	font-size: 0.813em;
	margin-bottom: 3em;
}

	.interior--nav h2 {
		font-size: 1.375em;
		margin-bottom: 1em;
		color: rgb(33, 37, 41);
	}

	.interior--nav ul {
		margin: 0;
		list-style: none;

	}
		.interior--nav li {
			border-bottom: 1px solid #b3620b;
		}

		.interior--nav li:first-of-type {
			border-top: 1px solid #b3620b;
		}

		nav.interior--nav a {
			padding: 0.75em 1em;
			display: block;
			color: #b3620b !important;
		}
		nav.interior--nav a:hover {
			color: #fff !important;
			background-color: #b3620b;
			text-decoration: none;
			transition: background-color 1s linear;
		}

		.interior--nav ul ul a {
			padding-left: 2em;
		}
		.interior--nav ul ul li:last-of-type {
			border-bottom: 0;
		}
