/*----- Navigation -----*/

/* Global */
nav {
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #196180;
	font-weight: 300;
}

	nav a {
		color: #196180 !important;
		/* override bootstrap selector hell */
	}

	.navbar-expand-lg .navbar-nav a,
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0.5rem 2rem;
	}

ul.navbar-nav {
	margin-left: 0; /* reset default.css */
	font-size: 1.125rem;
	letter-spacing: 1px;
}

/*-- Navbar (Quick)--*/
.header--quick-navbar {
	padding: 3.5em 0 1.5em;
	text-align: center;
}
    .header--quick-navbar .bg-light {
    	background-color: transparent !important;
    		/* important used to override bootstrap important on .bg-light */
    }

    a.dropdown-toggle {
    	padding: .5rem;
    	display: block;
    }

    .navbar-toggler {
    	margin: 0 auto;
    }