/*----- Theme Footer -----*/
.site--footer {
	margin-top: 2em;
	padding: 2em 2em 2.5em;
	background-color: #061115;
	border: 1.5em solid;
	border-image: url(../images/cartographer-blue.png) 30 30 repeat;
	border-bottom-width: 2.5em;
}

	.site--footer .container {
		background-color: #061115;
	}

	.site-copyright {
		background-image: url(../images/BootstrapAdventure--Fox-Blue.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 60%;
		padding-top: 4em;
		text-align: center;

	}

.site--footer h5 {
	color: #253F4A;
	font-weight: 700;
	letter-spacing: 1px;
}

.site--footer li {
	padding-bottom: 0.75em;
}

.bootstrap-adventure__grid .site--footer {
	margin-top: 0;
	border-image: url(../images/cartographer-taupe.png) 30 30 repeat;
}