<div class="banner" {{#if Banner_Image}} style="background-image: url({{Banner_Image}})"{{/if}}>
    <div class="banner--container">
        <h1 class="banner--text">{{Banner_Text}}</h1>
    </div>
</div>
